* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main-nav li {
    padding: 0 3%;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);

}

.main-header {
    background-image: url(images/Rema-Alien-artwork.jpeg);
    background-size: cover;
    padding-bottom: 35px;
}

.artist-name {
    text-align: center;
    color: green;
    margin: 0;
    font-size: 7em;
    font-family: Georgia;
    font-weight: normal;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Georgia;
    font-weight: normal;
    text-align: center;
}

.about-remas-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.rema-woman-image {
    height: 250px;
    width: 300px;
    margin: 20px;
    border-radius: 60%;
}

.main-footer {
    background-color: darkblue;
    background-size: contain;  
    padding-top: 5px;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
    
}

.footer-nav img {
    width: 50px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 0;
    font-size: 1em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: darkblue;
    font-weight: bold;
    width: 11%;
}
.tour-city {
    width: 20%;
}

.tour-arena {
    width: 40%;
}

.tour-btn {
    width: 15%;
}

.btn-primary {
    color: white;
    background-color: coral;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: lightblue;
}

.shop-item {
    margin: 30px;
    
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin: 12px;
}

.shop-item-image {
    height: 300px;
    width: 300px;
}

.shop-item-details {
    display: flex ;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: black;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-sec {
    color: white;
    background-color: green;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-sec:hover {
    background-color: lightgreen;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;

}

.cart-price {
    width: 20%;
    font-size: 1.2em;
}

.cart-quantity {
    width: 35%;

}

.cart-item-title {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.btn-danger {
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: coral;
}


.cart-total {
    text-align: end;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: black;
    font-size: 1.1em;
}

.btn-sec {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

p {
    line-height: 30px;
}

